{% extends "aguadisponivel/layout.html" %}
{% block head %}
<title>O que são PTF's</title>
{% load static %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet"  href="{% static 'aguadisponivel/simples.css' %}"/>
{% endblock %}
{% block content %}
<h1>Funções de Pedotransferência</h1>

<div class="form-style-8" id="seg"  >
<span>A falta de dados físico-hídricos pode ser contornada pelo uso de funções de pedotransferência (pedotransfer functions - PTF), relações empíricas que permitem converter atributos geofísicos do solo em parâmetros físico-hídricos.
Diversos estudos sobre o desenvolvimento e uso de PTF utilizando propriedades físicas do solo foram publicados e atualmente, as PTF são largamente utilizadas na ciência do solo, hidrologia, meteorologia, agronomia etc., principalmente para estimar a condutividade hidráulica, a curva de retenção e parâmetros relacionados à infiltração.  
Há uma predominância de trabalhos que apresentam funções de pedotransferência para solos de regiões de clima temperado, os quais apresentam diferenças importantes em relação aos solos tropicais, pois existem características físicas e químicas que determinam as diferenças de comportamento de solos de clima temperado, fazendo com que os solos tropicais tenham comportamento físico-hídrico diferenciado. 
As conclusões sobre o uso de pedotransferência parecem muito controversas. Encontra-se, porém, certo consenso de que o uso dessas funções depende da escala e do objetivo do estudo. A tendência é que sejam utilizadas em grandes áreas, onde as propriedades físicas dos solos sejam semelhantes ao conjunto de dados empregados para o desenvolvimento da PTF. De fato, as funções de pedotransferência desenvolvidas a partir de dados regionais apresentam bons resultados em regiões com solos e paisagens similares. 
Nesse sentido, são apresentadas funções de pedotransfeência de âmbito nacional e regional, que foram desenvolvidas em diversas regiões brasileiras. À medida que foram sendo desenvolvidas e publicadas vamos atualizando o portal. 
</span>
</div>




{% endblock %}