{% extends "aguadisponivel/layout.html" %}
{% block head %}
<title>Home</title>
{% load static %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet"  href="{% static 'aguadisponivel/simples.css' %}"/>
{% endblock %}
{% block content %}
<div class="jumbotron text-center">
    <h1>Olá você está no site de calculo de agua disponivel da EMBRAPA</h1>
    <p>aqui você encontrará duas diferentes formas para inserir seus dados e receber os resuldados.</p>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Explicação</h3>
        <p>Mas primeiro e antes de qualquer coisa talvez você queira uma explicação sobre o que exatamente vamos calcular.E é isso que você encontrará aqui.</p>
      </div>
      <div class="col-sm-4">
        <h3>Excel</h3>
        <p>Aqui você fara calculos a partir de tabelas excel. preencha uma tabela excel do jeitinho que o exemplo demontra e nos mande ela com todos os solos que você que calcular,
          nos te mandaremos uma de volta com os resuldados obtidos.</p>
      </div>
      <div class="col-sm-4">
        <h3>Calculo PTF</h3>
        <p>Aqui vamos lidar com um solo de cada vez, </p>
      </div>
    </div>
  </div> 

        
{% endblock %}