<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    {% block head %}
    
    {% endblock %}
</head>

<body class="fundo">
<div class="navbar" style="display:flex;justify-content:center;align-items:center;">
    <a href="{% url 'aguadisponivel:inicio' %}" class="navbar-brand">Inicio</a>
    <a href="{% url 'aguadisponivel:explicacao' %}" class="navbar-item">Explicação</a>
    <a href="{% url 'aguadisponivel:excel' %}" class="navbar-item">Upload Excel</a> 
    <a href="{% url 'aguadisponivel:PTFview' %}" class="navbar-item">Calculo de PFT</a> 
</div>
    <br/>
    {% block content %}
    {% endblock %}

<div class="embaixo" >
    <br/>
    <hr/>
    <footer>
        <p>© 2020</p>
    </footer>
</div>
</body>
</html>
