{% extends "aguadisponivel/layout.html" %}
{% block head %}
<title>Agua disponivel</title>

{% load static %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet"  href="{% static 'aguadisponivel/simples.css' %}"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<style>canvas {-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;}</style>

{% endblock %}
{% block content %}


{% comment %} 	<canvas class="form-style-8" id="canvas"></canvas>
	

	<script>
		var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		var config = {
			type: 'line',
			data: {
				labels: ['1', '33', '1500'],
				datasets: [{
					label: 'My dataset',
					fill: false,
					backgroundColor: window.chartColors.blue,
					borderColor: window.chartColors.blue,
					data: [	19, 36, 49 ],
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Chart.js Line Chart'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						}
					}]
				}
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};

		document.getElementById('randomizeData').addEventListener('click', function() {
			config.data.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return randomScalingFactor();
				});

			});

			window.myLine.update();
		});

		var colorNames = Object.keys(window.chartColors);
		document.getElementById('addDataset').addEventListener('click', function() {
			var colorName = colorNames[config.data.datasets.length % colorNames.length];
			var newColor = window.chartColors[colorName];
			var newDataset = {
				label: 'Dataset ' + config.data.datasets.length,
				backgroundColor: newColor,
				borderColor: newColor,
				data: [],
				fill: false
			};

			for (var index = 0; index < config.data.labels.length; ++index) {
				newDataset.data.push(randomScalingFactor());
			}

			config.data.datasets.push(newDataset);
			window.myLine.update();
		});

		document.getElementById('addData').addEventListener('click', function() {
			if (config.data.datasets.length > 0) {
				var month = MONTHS[config.data.labels.length % MONTHS.length];
				config.data.labels.push(month);

				config.data.datasets.forEach(function(dataset) {
					dataset.data.push(randomScalingFactor());
				});

				window.myLine.update();
			}
		});

		document.getElementById('removeDataset').addEventListener('click', function() {
			config.data.datasets.splice(0, 1);
			window.myLine.update();
		});

		document.getElementById('removeData').addEventListener('click', function() {
			config.data.labels.splice(-1, 1); // remove the label first

			config.data.datasets.forEach(function(dataset) {
				dataset.data.pop();
			});

			window.myLine.update();
		});
	</script> {% endcomment %}





{% comment %} 
<canvas class="form-style-8"  id="myChart"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['1', '33', '1500'],
        datasets: [{
            label: 'força da agua',
            data: [12, 19, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script> {% endcomment %}

{% if t_ad != 'Na' %}
<div class="form-style-8" id="graficos">
<canvas id="grafico" ></canvas>
</div>
<script type="javascript">
    var grafico = document.getElementById('grafico').getContext('2d');
	var z = {{t_thetar}}+ (({{t_thetas}}-{{t_thetar}}) / ((1+({{t_alpha}}*0)**{{t_n}})**(1-(1/{{t_n}}))))
	z = z.toFixed(3)
	var cem= {{t_thetar}}+ (({{t_thetas}}-{{t_thetar}}) / ((1+({{t_alpha}}*100)**{{t_n}})**(1-(1/{{t_n}}))))
	cem= cem.toFixed(3)
	var duz= {{t_thetar}}+ (({{t_thetas}}-{{t_thetar}}) / ((1+({{t_alpha}}*200)**{{t_n}})**(1-(1/{{t_n}}))))
	duz= duz.toFixed(3)
	var trez= {{t_thetar}}+ (({{t_thetas}}-{{t_thetar}}) / ((1+({{t_alpha}}*300)**{{t_n}})**(1-(1/{{t_n}}))))
	trez= trez.toFixed(3)
	var quinhentos = {{t_thetar}}+ (({{t_thetas}}-{{t_thetar}}) / ((1+({{t_alpha}}*500)**{{t_n}})**(1-(1/{{t_n}}))))
	quinhentos= quinhentos.toFixed(3)
	var setec= {{t_thetar}}+ (({{t_thetas}}-{{t_thetar}}) / ((1+({{t_alpha}}*700)**{{t_n}})**(1-(1/{{t_n}}))))
	setec= setec.toFixed(3)
	var oitoc={{t_thetar}}+ (({{t_thetas}}-{{t_thetar}}) / ((1+({{t_alpha}}*800)**{{t_n}})**(1-(1/{{t_n}}))))
	oitoc= oitoc.toFixed(3)
	var mil = {{t_thetar}}+ (({{t_thetas}}-{{t_thetar}}) / ((1+({{t_alpha}}*1000)**{{t_n}})**(1-(1/{{t_n}}))))
	mil = mil.toFixed(3)
	var milduz= {{t_thetar}}+ (({{t_thetas}}-{{t_thetar}}) / ((1+({{t_alpha}}*1200)**{{t_n}})**(1-(1/{{t_n}}))))
	milduz= milduz.toFixed(3)
	var miltre= {{t_thetar}}+ (({{t_thetas}}-{{t_thetar}}) / ((1+({{t_alpha}}*1300)**{{t_n}})**(1-(1/{{t_n}}))))
	miltre= miltre.toFixed(3)
	var milquat=  {{t_thetar}}+ (({{t_thetas}}-{{t_thetar}}) / ((1+({{t_alpha}}*1400)**{{t_n}})**(1-(1/{{t_n}}))))
	milquat = milquat.toFixed(3)
    
    var chart = new Chart(grafico, { type: 'line',data:{ labels: [0, '10', '33','100','200', '300','500', '700', '800', '1000','1200', '1300', '1400', '1500'], datasets:[{ data: [ z, {{t_zu}} , {{t_tt}}, cem, duz, trez,quinhentos, setec, oitoc, mil, milduz, miltre, milquat, {{t_pc}} ] }] }, options: {maintainAspectRatio: false, scales: {yAxes:[{ticks:{beginAtZero: true}}],xAxes:[{ticks:{beginAtZero: true}}]}}});

	  



</script>
{% endif %}


<div id="fundo" class="form-style-8" >
    <form action="." method="POST"> 
        {% csrf_token %}
      
        {{form}}

        <input type="submit" class="btn btn-default" value="Calcular">
      
        
    </form>
</div>


    {% if bs_n == 'Na' %}
	<div class="form-style-8" id="intro" >
        
    <span>Aqui você verá o calculo das PTF's</span></br>
    <span>Elas serão calculadas com base nos parametros de Van Genuchten.</span></br></br>
    <span>Oliveira et al,2002.</span></br>
    <span> Barros et al.</span></br>
    <span> Tomasella et al.</span>
	</br>
	</div>
    

    {%elif bs_n == ''%}
	<div id="direita">
	<div class="form-style-8" id="intro" >
        
    <span>Aqui você verá o calculo das PTF's</span></br>
    <span>Elas serão calculadas com base nos parametros de Van Genuchten.</span></br></br>
    <span>Oliveira et al,2002.</span></br>
    <span> Barros et al.</span></br>
    <span> Tomasella et al.</span>
    <p>OBS: É obrigatorio preencher os dados marcados com '*'</p>
	</div>
    

    <div class="form-style-8" id="grand"  >
        
        <span> valores inconsistentes, Favor corrigir !</span>
	</div>

	</div>
    {%else%}


	<div class="form-style-8" id="intro" >
        
    <span>Aqui você verá o calculo das PTF's</span><br/>
    <span>Elas serão calculadas com base nos parametros de Van Genuchten.</span><br/><br/>
    <span>Oliveira et al,2002.</span><br/>
    <span> Barros et al.</span><br/>
    <span> Tomasella et al.</span>
    <p>OBS: É obrigatorio preencher os dados marcados com '*'</p>
	</div>

    <div class="form-style-8" id="resposta">
        
		<br><p> Calculo das PTF's</p>
		<br/>
        <p> Barros: Alpha = {{b_alpha}};</p>
		<p>	N = {{b_n}}; </p>
		<p> Theta R = {{b_thetar}};	</p>	
		<p> Theta S = {{b_thetas}} </p>
        <p> AD 0.01m³/m³ = {{b_zu}};</p>		
		<p>AD 0.033m³/m³ = {{b_tt}};</p>
		<p>	AD 1.5m³/m³ = {{b_pc}} </p>
        <p>Agua disponivel = {{b_ad}}</p>
        <br/>
		<p> Barros SIMPLIFICADA: Alpha = {{bs_alpha}}; </p>
		<p>N = {{bs_n}};  </p>
		<p>Theta R = {{bs_thetar}};  </p>
		<p>Theta S = {{bs_thetas}} </p>
        <p> AD 0.01m³/m³ = {{bs_zu}};  </p>
		<p>AD 0.033m³/m³ = {{bs_tt}}; </p>
		<p> AD 1.5m³/m³ = {{bs_pc}} </p>
        <p>Agua disponivel = {{bs_ad}}</p>
        <br/>
        <p>Oliveira: AD = {{oliv}}</p><br/>
        <p>Tomasella: Alpha = {{t_alpha}}; </p>
		<p> N = {{t_n}};  </p>
		<p>Theta R = {{t_thetar}};  </p>
		<p>Theta S = {{t_thetas}} </p>
        <p> AD 0.01m³/m³ = {{t_zu}};  </p>
		<p>AD 0.033m³/m³ = {{t_tt}};  </p>
		<p>AD 1.5m³/m³ = {{t_pc}} </p>
        <p>Agua disponivel = {{t_ad}}</p>
        <br/><br/>
	</div>

	
    {%endif%}





    <script  type="text/javascript">

        
            
        function adjust_textarea(h) {
            h.style.height = "20px";
            h.style.height = (h.scrollHeight)+"px";
        }        
    </script>


{% endblock %}